.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbebd8;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-top: 2vh;
}

.navbar .logo {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 40px; 
  color: #49557E;
  font-size: 18px;
}

.navbar-menu .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557E;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px; 
}

.navbar-cart-icon {
  position: relative;
}

.navbar-cart-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #FF4C24;
  border-radius: 50%;
  top: -8px;
  right: -8px;
}

.navbar-right button {
  background: transparent;
  font-size: 16px;
  color: #49557E;
  border: 1px solid rgb(91, 153, 110);
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-right button:hover {
  background: #9adfa6;
}

.navbar-profile {
  position: relative;
}

.navbar-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-profile-dropdown img {
  width: 20px;
}

.navbar-profile-dropdown li:hover {
  color: rgb(91, 153, 110);
}

.navbar-profile:hover .navbar-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #dbebd8;
  padding: 12px 25px;
  border-radius: 25px;
  border: 5px solid rgb(91, 153, 110);
  outline: 2px solid white;
  list-style: none;
}

.navbar-profile hr {
  background-color: gray;
  height: 1px;
  border: none;
}

.navbar-profile img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar-cart-icon img {
  width: 35px;
  height: 35px;
}

@media (max-width: 1050px) {
  .navbar {
    padding: 15px;
  }

  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 30px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-cart-icon img {
    width: 30px;
    height: 30px;
  }

  .navbar-profile img {
    width: 45px;
    height: 45px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar {
    padding: 10px;
  }

  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-cart-icon img {
    width: 25px;
    height: 25px;
  }

  .navbar-profile img {
    width: 40px;
    height: 40px;
  }

  .navbar-right button {
    font-size: 15px;
    padding: 7px 20px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }

  .navbar .logo {
    width: 100px;
  }

  .navbar-right {
    gap: 15px;
  }

  .navbar-cart-icon img {
    width: 20px;
    height: 20px;
  }

  .navbar-profile img {
    width: 35px;
    height: 35px;
  }

  .navbar-right button {
    font-size: 14px;
    padding: 5px 15px;
  }
}
